# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
app/.venv/

# Environment variables
.env
.env.*

# UV
.uv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
**/crash.log
**/crash.*.log
